img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; }
  .row{
    margin-bottom: 20px;
  }
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy
